# dependencies
/node_modules
/.pnp
.pnp.*
__MACOSX

# next.js
/.next/
/out/

# production
/build

# env files
.env
.env.*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# misc
.DS_Store
Thumbs.db
